@model WebApplication1.Models.Movie
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> @Model.Title</title>
</head>
<body>
    <span style="font-size: 18pt;">Hello, <b>MVC</b> world!</span>
    The movie <b>@Model.Title</b> was released @Model.ReleaseDate.ToLongDateString()
    <br />
    @{
        var helloWorld = "<b>Hello, world!</b>";
    }
    <p>@helloWorld</p>
    <p>@Html.Raw(helloWorld)</p>
    <br />

    @{
        var name = "John Doe";
    }
    Hello, @(name.Substring(0, 4)). Your age is: <b>@(37 + 5).</b>
</body>
</html>
